.about-inner {
    height: 280px;
    border: 1px solid darkgray;
    margin-left: 30px;
    display: flex;
    width: 458px;
    margin-top: 8px;
}
.about-description {
    margin-left: 20px;
}
body {
    text-shadow: 0 0 0 rgb(255 255 255);
    margin: 15px;
    font-family: sans-serif;
    background: #808080a6;
}
.img_logo {
    width: 190px;
    height: 150px;
    margin-top: 25px;
}
.wrapper_top {
    width: 490px;
    height: 340px;
    padding-top: 1px;
    margin-left: 50px;
    text-align: center;
}
.cover_card {
    background: #2090d0 ;
    margin-left: 30px;
    height: 270px;
    margin-top: 50px;
}
.wrapper-bottom {
    margin-top: 10px;
    margin-left: 50px;
}
.wrapper {
    margin: 0 auto;
    width: 550px;
    padding-top: 0px;
    padding-right: 0px;
    background: white;
    width: 600px;
    height: 700px;
}
.about-items {
    color: #2090d0;
    margin: 5px;
    font-size: 14px;
}
.tittle {
    padding-bottom: 10px;
    padding-top: 5px;
}
.name {
    margin-bottom: 6px;
    font-size: 19px;
    color: #207fd0;
    font-weight: bold;
}
.position{
    margin: 0px;
    font-style:oblique;
    font-size: 13px;
    color: #2090d0;
}
.about-inner_left {
    margin-right: 0px;
    width: 145px;
    height: 190px;
    margin-top: 56px;
    margin-left: 25px;
}
.img_qr {
    border-right: 1px solid black;
    margin: 0px;
    width: 100px;
    height: 100px;
    padding: 45px 45px 45px 0px;
}
.about-content {
    padding-top: 42px;
}
h3 {
    color: white;
    margin-top: 10px;
    font-weight: 500;
    font-size: inherit;
}
.list {
    color: #2090d0;
    width: 55px;
    display: inline-block;
}
ul{
    padding: 0px;
    list-style-type: none;
}
li{
    margin-bottom: 12px;
    font-size: 13px;
}
.info{
    font-weight: bold;
}
.info1{
    font-weight: bold;
    margin-left: 60px;
}

