.about-inner{
    height: 285px;
    border: 1px solid darkgray;
    margin-left: 30px;
    display: flex;
    width: 460px;
    margin-top: 8px;
}
.about-description{
    margin-left: 12px;

}
body{
    text-shadow: 0 0 0 rgb(255 255 255);
    margin: 15px;
    font-family: sans-serif;
    background: #808080a6;
}
.img1{
    width: 190px;
    height: 150px;
}
.wapper_top{
    width: 490px;
    height: 340px;
    padding-top: 1px;
    margin-left: 50px;
    text-align: center;
}
.cover_card{
    background: #2090d0 ;
    margin-left: 30px;
    height: 270px;
    margin-top: 50px;
}
.wapper-bottom{
    margin-top: 10px;
    margin-left: 50px;
}
.wapper{
    margin: 0 auto;
    width: 550px;
    padding-top: 0px;
    padding-right: 0px;
    background: white;
    width: 600px;
    height: 700px;

}
.image{
    border-right: 1px solid black;
    height: 200px;
    width: 155px;
    margin-right: 0px;
    margin: 15px;
}
.about-list-infomation{
    display: flex;

}
.about-items{
    color: #2090d0;
    margin: 5px;
    font-size: 14px;
}

.info{
    margin: 5px;
    font-size: 14px;
    font-weight: bolder;
}
.tittle{
    padding-bottom: 5px;
}
.name{
    margin-bottom: 6px;
    font-size: 19px;
    color: #2090d0;
}
.position{
    margin: 0px;
    font-style:oblique;
    font-size: 14px;
    color: #2090d0;
}
.image{
    margin-right: 0px;
    width: 135px;
    height: 190px;
    margin-top: 56px;
    margin-left: 20px;
}
img{
    width: 100px;
    height: 100px;
    padding-top: 38px;
}

.about-content{
    padding-top: 42px;
}
h3{
    color: white;
    margin-top: 10px;
    font-weight: 500;
    font-size: inherit;
}

