/* ========== COMMON ========== */
/* Những class nào dùng chung thì thả vào đây: ví dụ */
.w-32{
    width: 32px;
}
.w-13{
    width: 13px !important;
}

.fs-12 {
    font-size: 12px;
}

.fs-14 {
    font-size: 14px;
}

.fs-18 {
    font-size: 18px;
}
.fs-20 {
    font-size: 20px;
}
.fs-24 {
    font-size: 24px;
}
.fs-28 {
    font-size: 28px;
}
.fs-32{
    font-size: 32px;
}
.fw-bold{
    font-weight: bold;
}
img {
    object-fit: cover;
}

.mr-auto{
    margin-right: auto;
}
.ml-auto{
    margin-left: auto;
}
.mt-100{
    margin-top: 100px;
}
.mt-96{
    margin-top: 96px;
}
.mb-48{
    margin-bottom: 48px;
}
.mb-38{
    margin-bottom: 38px;
}
.mb-24{
    margin-bottom: 24px !important;
}
.mb-0{
    margin-bottom: 0px;
}
.ml-4{
    margin-left: 4px !important;
}
.mr-4{
    margin-right: 4px !important;
}
.cl-white{
    color: white !important;
}
.b-0{
    border: 0px;
}
.p-0{
    padding: 0px;
}
.pr-12{
    padding-right: 12px;
}
.pl-22{
    padding-left: 22px !important;
}
.pr-22{
    padding-right: 22px !important;
}
.pl-24{
    padding-left: 24px !important;
}
.pr-24{
    padding-right: 24px !important;
}
.jc-center{
    justify-content: center;
}

/* Dùng các class này vào bên html, đỡ phải viết css. */


/* ========== END COMMON ========== */