body {
    background-color: #FAFAFB !important;
    font-family: "Roboto", sans-serif;
}

/* ========== CONTENT LEFT: CARD ========== */
/* ========== END CONTENT LEFT: CARD ========== */


/* ========== CONTENT RIGHT: IMAGES ========== */
/* ========== END CONTENT RIGHT: IMAGES ========== */


/* ========== RESPONSIVE ========== */
/*
    xs = Extra small < 576px
    sm = Small ≥ 576px: Max container width 540px
    md = Medium ≥768px: Max container width 720px
    lg = Large ≥992px: Max container width 960px
    xl = Extra large ≥1200px: Max container width 1140px
*/


@media (max-width: 576px) {

}

@media (max-width: 768px) {

}

@media (max-width: 992px) {

}

@media (max-width: 1200px) {

}
/* ========== END RESPONSIVE ========== */


.trading{
    display: flex;
    color: white;
    margin: 0px !important;
}
.trading__card{
    background-color: #1D2646;
    height: 100vh;
}
.trading__card__heading {
    font-size: 50px;
    margin-top: 80px;
    margin-bottom: 20px;
    font-family: "Open Sans", sans-serif;
}
.trading__card__greeting{
    color: #A0A2ae;
    margin-bottom: 70px;
    font-size: 18px;
}
.trading__card__content{
    display: flex;
}
.trading__input{
    border: 0px;
    display: flex;
    width: 100%;
    height: 47px;
    margin-bottom: 10px;
    border-radius: 20px;
    padding: 0 30px;
    background: #fff;
}
.trading__label{
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    margin-left: 9px;
}
.username{
    margin-right: 109px;
}
.a__forgot__password{
    margin-left: 9px;
    font-size: 18px;
}
.btn__item{
    align-items: center;
    width: 152px;
    height: 44px;
    border-radius: 44px;
    font-size: 20px;
    font-weight: bold;
    border: 0px;
    color: white;
    margin-top: 22px;
}
.btn--sign_in{
    background-color: #FFC700;
    margin-right: 36px;
}
.btn--sign_up{
    background-color: #1D2646;
    border: 1px solid white;
}
.trading__images{
    text-align: center;
}
.img__bike{
    width: 317px;
    margin-top: 150px;
}

@media screen and (min-width : 1200px){
    .trading{
        display: flex;
        color: white;
        margin: 0px !important;
    }
    .trading__card{
        padding-left: 61px;
    }
    .col-md-5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 41.2%;
        flex: 0 0 41.2%;
        max-width: 41.2%;
    }
    .col-md-7 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 58.8%;
        flex: 0 0 58.8%;
        max-width: 58.8%;
    }
    .trading__card__heading {
        margin-top: 82px;
        margin-bottom: 23px;
    }
    .trading__card__greeting{
        margin-bottom: 59px;
    }
    .trading__input{
        width: 282px;
    }
    .trading__label{
        margin-bottom: 8px;
    }
    .username{
        margin-right: 50px;
    }
    .img__bike{
        margin-top: 147px;
        margin-left: -26px;
    }
    .btn--sign_in{
        margin-right: 32px;
    }
}

@media screen and (max-width : 576px){
    .trading__card{
        background-color: #00bcd4 ;
        position: relative;
        height: 1075px;
    }
    .img__bike{
        position: absolute;
        width: 120px;
        margin: 0px;
        top: -880px;
        right: 100px;
    }
    .btn--sign_up{
        background-color: #00bcd4;
    }
    .trading__card__content {
        display: grid;
    }
    .trading__input{
        border-radius: 10px;
        height: 28px;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .btn__item{
        width: 120px;
        height: 32px;
        border-radius: 32px;
        font-size: 14px;
    }
    .trading__card__heading {
        margin-top: 138px;
        margin-bottom: 13px;
        font-size: 38px;
    }
    .trading__card__greeting{
        font-size: 16px;
        margin: 0px 0px 114px;
        color: #99e4ee;
    }
    .trading__label{
        font-size: 14px;
        margin-left: 5px;
        margin-bottom: 6px;
    }
    .a__forgot__password {
        margin-left: 0px;
        font-size: 12px;
        font-weight: 500;
    }
    .username{
        margin-right: 0px;
        margin-bottom: 14px;
    }
    .label--username{
        margin-bottom: 7px;
    }
    .input--password{
        margin-bottom: 5px;
    }
}

/* Galaxy S5 */
@media screen and (width : 360px) and (height: 640px) {
    .trading__card__greeting {
        margin-bottom: 113px;
    }
    .btn--sign_in {
        margin-right: 76px;
        margin-top: 27px;
    }
    .trading__card {
        height: 639px;
    }
    .img__bike {
        margin: 0px;
        top: -415px;
        right: 24px;
    }
    .label--password{
        margin-bottom: 7px;
    }
}

/* Pixel 2 */
@media screen and (width : 411px) and (height: 731px) {
    .trading__card__greeting {
        margin-bottom: 113px;
    }
    .btn--sign_in {
        margin-right: 127px;
        margin-top: 27px;
    }
    .trading__card {
        height: 730px;
    }
    .img__bike {
        margin: 0px;
        top: -506px;
        right: 29px;
    }
    .label--password{
        margin-bottom: 7px;
    }
}
/* Pixel 2XL */
@media screen and (width : 411px) and (height: 823px) {
    .trading__card__greeting {
        margin-bottom: 113px;
    }
    .btn--sign_in {
        margin-right: 127px;
        margin-top: 27px;
    }
    .trading__card {
        height: 822px;
    }
    .img__bike {
        margin: 0px;
        top: -598px;
        right: 29px;
    }
    .label--password{
        margin-bottom: 7px;
    }
}
/* iphone5/SE */
@media screen and (width : 320px) and (height: 568px){
    .trading__card__greeting{
        margin-bottom: 111px;
    }
    .btn--sign_in{
        margin-right: 36px;
        margin-top: 27px;
    }
    .trading__card {
        height: 623px;
    }
    .img__bike{
        top: -399px;
        right: 20px;
    }
    .label--password{
        margin-bottom: 7px;
    }
}

/* iphone6/7/8 */
@media screen and (max-width : 576px) and (height: 667px){
    .trading__card__greeting{
        margin-bottom: 113px;
    }
    .btn--sign_in{
        margin-right: 91px;
        margin-top: 27px;
    }
    .trading__card {
        height: 666px;
    }
    .img__bike{
        top: -442px;
        right: 25px;
    }
    .username{
        margin-bottom: 15px;
    }
}

/* iphone6/7/8 plus */
@media screen and (max-width : 576px) and (height: 736px) {
    .btn--sign_in {
        margin: 27px 130px 0px 0px;
    }
    .trading__card {
        height: 735px;
    }
    .img__bike {
        top: -511px;
        right: 29px;
    }
    .trading__label{
        margin-bottom: 6px;
    }
    .label--password{
        margin-bottom: 7px;
    }
}
/* iphone X */
@media screen and (max-width : 576px) and (height: 812px){
    .trading__card__greeting{
        margin-bottom: 113px;
    }
    .btn--sign_in{
        margin: 27px 90px 0px 0px;
    }
    .trading__card {
        height: 811px;
    }
    .img__bike{
        top: -587px;
        right: 25px;
    }
    .username{
        margin-bottom: 15px;
    }
}
/* Ipad */
@media screen and (max-width : 768px) and (height: 1024px){
    .img__bike {
        width: 180px;
        margin-top: 364px;
        margin-right: 6px;
    }
    .col-md-5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 40.5%;
        flex: 0 0 40.5%;
        max-width: 40.5%;
    }
    .col-md-7 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 59.5%;
        flex: 0 0 59.5%;
        max-width: 59.5%;
    }
    .username{
        margin-right: 28px;
    }
    .trading__card__heading {
        font-size: 29px;
        margin-top: 375px;
        margin-bottom: 16px;
    }
    .trading__card__greeting{
        margin-bottom: 30px;
        font-size: 11px;
    }
    .trading__input{
        border-radius: 12px;
        height: 28px;
        margin-bottom: -1px;
        width: 160px;
    }
    .trading__label{
        font-size: 12px;
        margin-left: 5px;
        margin-bottom: 5px;
    }
    .a__forgot__password{
        font-size: 10px;
        margin-left: 5px;
    }
    .btn__item{
        width: 90px;
        height: 27px;
        font-size: 12px;
        margin-top: 11px;
    }
    .btn--sign_in{
        margin-right: 18px;
    }
    .trading__card{
        padding-left: 35px ;
    }
    .btn--sign_up{
        border: 1px solid #A0A2ae;
    }
}

/* Ipad Pro */
@media screen and (max-width : 1024px) and (height: 1366px){
    .img__bike {
        width: 241px;
        margin-top: 485px;
        margin-right: 8px;
    }
    .col-md-5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 40.5%;
        flex: 0 0 40.5%;
        max-width: 40.5%;
    }
    .col-md-7 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 59.5%;
        flex: 0 0 59.5%;
        max-width: 59.5%;
    }
    .username{
        margin-right: 36px;
    }
    .trading__card__heading {
        font-size: 39px;
        margin-top: 500px;
        margin-bottom: 20px;
    }
    .trading__card__greeting{
        margin-bottom: 48px;
        font-size: 14px;
    }
    .trading__input{
        border-radius: 18px;
        height: 38px;
        margin-bottom: 3px;
        width: 215px;
    }
    .trading__label{
        font-size: 16px;
        margin-left: 7px;
        margin-bottom: 5px;
    }
    .a__forgot__password{
        font-size: 15px;
        margin-left: 7px;
    }
    .btn__item{
        width: 120px;
        height: 36px;
        font-size: 16px;
        margin-top: 15px;
    }
    .btn--sign_in{
        margin-right: 22px;
    }
    .trading__card{
        padding-left: 46px ;
    }
}

/* Surface Duo */
@media screen and (max-width : 576px) and (height: 720px){
    .trading__card__greeting{
        margin-bottom: 113px;
    }
    .btn--sign_in{
        margin: 27px 256px 0px 0px;
    }
    .trading__card {
        height: 719px;
    }
    .img__bike{
        top: -495px;
        right: 42px;
    }
    .label--password{
        margin-bottom: 7px;
    }
}
/* Galaxy Fold */
@media screen and (max-width : 576px) and (height: 720px){
    .trading__card__greeting{
        margin-bottom: 113px;
    }
    .btn--sign_in{
        margin: 27px 256px 0px 0px;
    }
    .trading__card {
        height: 719px;
    }
    .img__bike{
        top: -495px;
        right: 42px;
    }
    .label--password{
        margin-bottom: 7px;
    }
}



