html{
    background-color: #1c1e21;
}
body{
    background: #eeeeee;
    font-family: "Nunito Sans", sans-serif;
    line-height: 1.5;
    color: #3e5569;
    margin: 70px 0px 0px 280px;
}
h4{
    margin: 0px 0px 20px 0px;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.2;
}
.top-left-tittle{
    margin: 5px 0px;
    font-size: 1.135rem;
    font-weight: 600;
    line-height: 1.2;
}
.wrapper{
    padding: 20px;
}
.wrapper-top{
    display: flex;
    margin: 5px 0px;
}
.wrapper-top-right{
    margin-left: auto;
    display: flex;
    font-size: 12px;
    margin-top: 5px;
}
.home{
    color: #2962FF;

}
.home:hover{
    color: #7460ee;
    cursor: pointer;
}
.library_span{
    color: #6c757d;
}
.sign{
    color: #ced4da;
    padding: 0px 10px;
}
.form{
    background: white;
    margin-bottom: 20px;
}
.form-right-first{
    padding: 20px;
}
.form-right-second{
    padding: 20px;
}
.form-right-third{
    padding: 20px;
}
.form-left-first-top{
    padding: 20px;
    border-bottom: 1px solid #e9ecef;
}
.form-left-first-bottom{
    padding: 20px;
}
.form-left-first-item input[name='input-form-left-first'] {
    width: 370px;
    color: #4F5467;
}
.form-left-first-item textarea[name='textarea-form-left-first'] {
    border: 1px solid #e9ecef;
    width: 340px;
    border-radius: 2px;
    padding: 15px 25px;
}
.wrapper-contend-top{
    display: flex;
}
.wrapper-contend-top-left{
    margin-right: 20px;
    width: 580px;
}
.wrapper-contend-top-right{
    width: 580px;
}
.label-form-left-first{
    display: inline-block;
    width: 100px;
    text-align: right;
    margin-right: 20px;
    font-weight: 600;
}
.form-left-first-item{
    padding: 0px 0px 20px 30px;
    display: flex;
}
.submit{
    background: #7460ee;
    color: white;
    border: 0px;
    padding: 11px 16px;
    font-size: 17px;
    border-radius: 3px;
}
.submit:hover{
    background-color: #4c32e9;
    cursor: pointer;
}

.form-left-second-top{
    padding: 20px;
    border-bottom: 1px solid #e9ecef;
}
.form-left-second-item{
    padding-bottom: 30px;
    display: flex;
}
.form-left-second-bottom{
    padding: 20px;
}
.label-form-left-second{
    display: inline-block;
    padding-right: 35px;
    width: 135px;
    font-weight: 600;
}
.form-left-second-item-left{
    max-width: 75%;
}
.checkbox-label-form-left-second{
    display: inline-block;
    padding-right: 40px;
    font-weight: 600;
}
.radio-label-form-left-second{
    display: inline-block;
    padding-right: 25px;
    font-weight: 600;
}
.form-left-second-item input[name='input-form-left-second'] {
    width: 380px;
    padding: 13px 10px;
    border-radius: 5px;
}
.checkbox-form-left-second-item-left{
    font-weight: 600;
}
.form-left-second-item input[name='input-disable'] {
    width: 380px;
    padding: 10px;
    font-size: 17px;
    border-radius: 3px;
    background-color: #e9ecef;
    border: 0px;
}
.form-left-second-item-left{
    display: flex;
}
.browse-form-left-second-item-left{
    border: 1px solid #e9ecef;
    padding: 10px 20px;
    background-color: #f8f9fa;
}
.choose-form-left-second-item-left{
    border: 1px solid #e9ecef;
    border-right: 0px;
    padding: 10px 150px 10px 10px;
    width: 145px;
}
.form-left-second-item-right{
    position: relative;
}
.button-new-mexico{
    position: relative;
    background-color: #2255a4;
    color: white;
    border: 0px;
    border-radius: 5px;
    padding: 8px;
    font-size: 17px;
    bottom: 42px;
    left: 7px;
}
.button-south-dakota{
    position: absolute;
    background-color: #2255a4;
    color: white;
    padding: 8px;
    border: 0px;
    border-radius: 5px;
    font-size: 17px;
    bottom: 42px;
    left: 135px;
}

.form-left-third-item{
    padding-bottom: 20px;
    display: grid;
}
.form-left-third-item input[name='input-form-left-third']{
    padding: 10px 50px;
    width: 440px;
}
.form-left-third-item input[name='input-form-left-third-a']{
    width: 520px;
}
.label-form-left-third{
    padding-bottom: 10px;
    font-weight: 600;
}
.form-left-third-contend{
    border-bottom: 1px solid #e9ecef;
    padding: 0px 20px;
}
.form-left-third-top{
    padding: 20px 20px 0px 20px;
}
.form-left-third-bottom{
    padding: 20px;
}
.form-left-third-item-i{
    display: flex;
    width: 540px;
}
.awesome{
    width: 40px;
    height: 40px;
    border: 1px solid #e9ecef;
    border-left: 0px;
}
.button-save-form-left-third{
    padding: 11px 16px;
    border: 0px;
    font-size: 17px;
    color: white;
    background: #28b779;
    border-radius: 3px;
}
.button-save-form-left-third:hover{
    background-color: #1f8d5d;
    cursor: pointer;
}
.button-reset-form-left-third{
    padding: 11px 16px;
    border: 0px;
    font-size: 17px;
    color: white;
    background: #7460ee;
    border-radius: 3px;
}
.button-reset-form-left-third:hover{
    background-color: #4c32e9;
    cursor: pointer;
}
.button-edit-form-left-third{
    padding: 11px 16px;
    border: 0px;
    font-size: 17px;
    color: white;
    background: #2255a4;
    border-radius: 3px;
}
.button-edit-form-left-third:hover{
    background-color: #193f7a;
    cursor: pointer;
}
.button-cancel-form-left-third{
    padding: 11px 16px;
    border: 0px;
    font-size: 17px;
    color: white;
    background: #da542e;
    border-radius: 3px;
}
.button-cancel-form-left-third:hover{
    cursor: pointer;
    background-color: #b54120;
}
.table-color{
    position: relative;
}
.button-table-color-first{
    padding: 15px;
    border: 2px solid #e9ecef;
    background-color: #ff6161;
    left: 3px;
    bottom: 3px;
    position: absolute;
    border-radius: 5px;
}
.button-table-color-second{
    padding: 15px;
    border: 2px solid #e9ecef;
    left: 3px;
    bottom: 3px;
    position: absolute;
    border-radius: 5px;
    background-color: #0088cc;
}
.button-table-color-third{
    padding: 15px;
    border: 2px solid #e9ecef;
    right: 3px;
    bottom: 3px;
    position: absolute;
    border-radius: 5px;
    background-color: #0088cc;
}
.button-table-color-third:hover{
    cursor: text;
}
.button-table-color-first:hover{
    cursor: text;
}
.button-table-color-second:hover{
    cursor: text;
}
.label-form-right-first{
    padding-bottom: 10px;
    font-weight: 600;
}
.form-right-first-item{
    display: grid;
}
.form-right-first-item input[name='input-form-right-first']{
    margin-bottom: 23px;
}

.label-form-right-second{
    display: inline-block;
    width: 165px;
    text-align: right;
    margin-right: 20px;
    font-weight: 600;
}
.form-right-second-item input[name='input-form-right-second']{
    width: 332px;
}
.form-right-second-item{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.form-right-second-item-green{
    display: flex;
    margin-bottom: 20px;
}
.input-prepend-form-right-second{
    display: flex;
}
.input-prepend-left{
    border: 1px solid #e9ecef;
    background-color: #f8f9fa;
    padding: 10px 18px;
    border-right: 0px;
    font-size: 17px;
}
.input-prepend-right{
    border-left: 0px;
    width: 286px;
}
.input-append-form-right-second{
    display: flex;
}
.input-append-left {
    border-right: 0px;
    width: 286px;
}
.input-append-right {
    border: 1px solid #e9ecef;
    background-color: #f8f9fa;
    padding: 10px 18px;
    border-left: 0px;
    font-size: 17px;
}
.label-form-right-second-green{
    color: #28b779;
    display: inline-block;
    width: 165px;
    text-align: right;
    margin-right: 26px;
    font-weight: 600;
}
.form-right-second-item-green-right input[name='input-form-right-second-green']{
    display: block;
    width: 327px;
    padding: 12px;
    border: 1px solid #28b779;
    font-size: 17px;
    border-radius: 2px;
}
.woohoo{
    font-size: 80%;
    color: #28b779;
}
.form-right-second-item-green-right{
    position: relative;
}
.success{
    position: absolute;
    right: 10px;
    top: 10px;
    size: 10px;
    font-size: 10px;
    width: 20px
}
.form-right-second-item-red-right{
    position: relative;
}
.error{
    position: absolute;
    right: 10px;
    top: 10px;
    size: 10px;
    font-size: 10px;
    width: 20px
}
.form-right-second-item-red{
    display: flex;
    margin-bottom: 30px;
}
.label-form-right-second-red{
    color: #da542e;
    display: inline-block;
    width: 165px;
    text-align: right;
    margin-right: 26px;
    font-weight: 600;
}
.form-right-second-item-red-right input[name='input-form-right-second-red'] {
    display: block;
    width: 327px;
    padding: 12px;
    border: 1px solid #da542e;
    font-size: 17px;
    border-radius: 2px;
}

.form-right-third-item input[name="col-md-12"]{
    padding: 10px;
    width: 520px;
    font-size: 17px;
    border: 1px solid #e9ecef;
    margin-bottom: 20px;
}
.form-right-third-item input[name="col-md-11"]{
    padding: 10px;
    width: 480px;
    font-size: 17px;
    border: 1px solid #e9ecef;
    margin-bottom: 20px;
    margin-right: 20px;
}
.form-right-third-item input[name="col-md-11-right"]{
    padding: 10px;
    width: 15px;
    font-size: 17px;
    border: 1px solid #e9ecef;
    margin-bottom: 20px;
}
.form-right-third-item input[name="col-md-10"]{
    width: 480px;
    margin-bottom: 20px;
    margin-right: 20px;
}
.form-right-third-item input[name="col-md-10-right"]{
    width: 45px;
    margin-bottom: 20px;
}
.form-right-third-item input[name="col-md-9"]{
    width: 480px;
    margin-bottom: 20px;
    margin-right: 20px;
}
.form-right-third-item input[name="col-md-9-right"]{
    width: 90px;
    margin-bottom: 20px;
}
.form-right-third-item input[name="col-md-8"]{
    width: 480px;
    margin-bottom: 20px;
    margin-right: 20px;
}
.form-right-third-item input[name="col-md-8-right"]{
    width: 140px;
    margin-bottom: 20px;
}
.form-right-third-item input[name="col-md-7"]{
    width: 480px;
    margin-bottom: 20px;
    margin-right: 20px;
}
.form-right-third-item input[name="col-md-7-right"]{
    width: 190px;
    margin-bottom: 20px;
}
.form-right-third-item input[name="col-md-6"]{
    margin-bottom: 20px;
    margin-right: 20px;
    width: 250px;
}
.form-right-third-item input[name="col-md-6-right"]{
    width: 250px;
    margin-bottom: 20px;
}
.form-right-third-item input[name="col-md-5"]{
    width: 180px;
    margin-bottom: 20px;
    margin-right: 20px;
}
.form-right-third-item input[name="col-md-5-right"]{
    width: 600px;
    margin-bottom: 20px;
}
.form-right-third-item input[name="col-md-1.1"]{
    width: 40px;
    margin-bottom: 20px;
    margin-right: 20px;

}
.form-right-third-item input[name="col-md-1.2"]{
    width: 100px;
    margin-bottom: 20px;
    margin-right: 20px;
}
.form-right-third-item input[name="col-md-1.3"]{
    width: 150px;
    margin-bottom: 20px;
    margin-right: 20px;
}
.form-right-third-item input[name="col-md-1.4"]{
    width: 50px;
    margin-bottom: 20px;
    margin-right: 20px;
}
.form-right-third-item input[name="col-md-1.5"]{
    width: 10px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.form-right-third-item{
    display: flex;
    font-size: 15px;
}

.wrapper-contend-bottom{
    background: white;
    padding: 20px;
    margin-bottom: 50px;
    height: 450px;
}
.tittle-quill{
    font-size: 19px;
}
.ql-toolbar.ql-snow {
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    padding: 8px;
}
.ql-container.ql-snow{
    height: 360px;
}

.wrapper-bottom{
    text-align: center;
    display: flex;
    padding-left: 400px;
    font-size: 15px;
}
.wrapper-bottom-p-blue{
    color: #2962FF;
    margin-left: 5px;
}
.wrapper-bottom-p-blue:hover{
    cursor: pointer;
    color: #2d23b5;
}
.please{
    color: #da542e;
    font-size: 80%;
}
small{
    color: #a1aab2;
}
.input-text{
    border: 1px solid #e9ecef;
    font-size: 17px;
    border-radius: 2px;
    padding: 10px;
    color: #3e5569;
}
.input-text:focus{
    outline: none;
    border: 1px solid #c0c1c1 !important;
}
.input-green:focus{
    outline: none;
    box-shadow: 0px 0px 0px 4px #bfead7;
}
.input-red:focus{
    outline: none;
    box-shadow: 0px 0px 0px 4px #f4cec3 ;
}


